@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: grey black;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background: black;
}

p {
    color: white;
}

/*---------------------------------Trailer---------------------------------*/

#blob {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background: linear-gradient(to right, aquamarine, mediumpurple);

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    translate: -50% -50%;


    filter: blur(100px);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: blobAnimation 20s infinite;
}

@keyframes blobAnimation {
    0% {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.2;
    }

    100% {
        rotate: 360deg;
    }
}

body:hover>#blob {
    opacity: 0.4;
}

/*---------------------------------navbar---------------------------------*/

nav{
    position: fixed;
    background: transparent;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;

    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav h2 {
    color: white;
    display: inline;
    margin-left: 10px;
}

nav ul.center-text {
    display: flex;
    gap: 40px;
    padding-right: 15px;
}

nav ul.icons {
    display: flex;
    gap: 20px;
    padding-right: 15px;
}

nav ul li {
    font-weight: 500;
    display: inline-block;
    color: white;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}

nav ul li a.text-link::after {
    content: "";
    background: white;
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: all 0.5s ease;
}

nav ul li a.text-link:hover::after {
    width: 100%;
}

nav ul li a.text-link:visited {
    color: white;
}

/*---------------------------------general properties---------------------------------*/

main,
.second-page,
.third-page {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

/*---------------------------------main---------------------------------*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    place-items: center;
}

.main-left {
    grid-column: 2/6;
}

.main-right {
    grid-column: 8/12;
}

.container {
    width: 500px;
    overflow: hidden;
}

.container .text {
    position: relative;
    color: white;
    font-size: 60px;
    font-weight: 600;
    align-items: start;
}

.container .small-text {
    display: block;
    font-size: 25px;
}

.main-right img {
    height: 600px;
    width: auto;
}

.typing-text::after {
    content: "";
    width: 1px;
    border-right: 4px solid white;
    height: 100%;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*---------------------------------Second Page---------------------------------*/

.second-page h1 {
    color: white;
    grid-column: span 12;
}

.second-page .second-left {
    text-align: center;
    grid-column: 1/7;
    align-self: start;
}

.second-page .second-left .img-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.second-page .second-left img {
    height: 80px;
    width: auto;
}

.second-page .about-me {
    grid-column: 7/13;
    padding: 20px;
    text-align: center;
}

#js {
    border-radius: 10%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0%);
}

.second-page .logo:nth-child(2) {
    transition-delay: 100ms;
}

.second-page .logo:nth-child(3) {
    transition-delay: 200ms;
}

.second-page .logo:nth-child(4) {
    transition-delay: 300ms;
}

.second-page .logo:nth-child(5) {
    transition-delay: 400ms;
}

.second-page .about-me {
    align-self: start;
}

/*---------------------------------Third Page---------------------------------*/
.third-page {}

.third-page h1 {
    color: white;
    grid-column: 1/13;
    margin-top: 60px;
}

.third-page .project:nth-child(2) {
    grid-column: span 4;
}

.third-page .project:nth-child(3) {
    grid-column: span 4;
}

.third-page .project:nth-child(4) {
    grid-column: span 4;
}

.third-page .project:nth-child(5) {
    grid-column: span 4;
}

.third-page .project:nth-child(6) {
    grid-column: span 8;
}

.third-page .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-page .project img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    filter: saturate(0);
    transition: all 0.5s ease-in-out;
}

.third-page .project a img{
    display: block;
    margin: auto;
}

.third-page .project img:hover {
    filter: saturate(1);
    transform: scale(1.05);
}

.third-page .project h3 {
    color: white;
    text-align: center;

    width: 100%;
    max-width: 350px;
    margin: 30px auto;
}

.hidden1 {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 0.5s cubic-bezier(.27, 0, .54, 1);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0%);
}


.project:nth-child(1) img {
    transition-delay: 0ms;
}

.project:nth-child(2) img {
    transition-delay: 0ms;
}

.project:nth-child(3) img {
    transition-delay: 100ms;
}

.project:nth-child(4) img {
    transition-delay: 200ms;
}

.third-page .video h3 {
    max-width: 500px;
}

.video-container {
    height: 450px;
    width: 800px;
}

iframe {
    border-radius: 15px;
}

/*---------------------------------Footer---------------------------------*/

.footer {
    min-height: 60vh;
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.footer h1 {
    color: white;
    grid-column: span 12;
}

.footer p {
    line-height: 0.8rem;
}

.footer .footer-title {
    font-weight: 200;
}

.footer .footer-element:nth-child(2) {
    grid-column: span 4;
}

.footer .footer-element:nth-child(3) {
    grid-column: span 4;
}

.footer .footer-element:nth-child(4) {
    grid-column: span 4;
}

/*---------------------------------Media Queries 1200 960 620---------------------------------*/
@media screen and (max-width : 1200px) {
    main,
    .second-page,
    .third-page {
        max-width: 1000px;
    }

    .main-right img {
        height: 550px;
        width: auto;
    }

    .second-page .second-left {
        grid-column: 1/7;
    }
    .second-page .about-me{
        grid-column: 8/13;
    }
    
    .third-page .project img {
        width: 80%;
        height: auto;
    }

    .video-container {
        height: 337.5px;
        width: 600px;
    }

    .footer {
        min-height: 55vh;
    }
}

@media screen and (max-width: 960px) {
    main,
    .second-page,
    .third-page {
        max-width: 800px;
    }

    main{
        padding-top: 80px;
    }

    .main-left {
        grid-column: 2/12;
    }
    
    .main-right {
        grid-column: 2/12;
    }

    .main-right img {
        height: 400px;
        width: auto;
    }

    .third-page .project:nth-child(2) {
        grid-column: span 6;
    }
    
    .third-page .project:nth-child(3) {
        grid-column: span 6;
    }
    
    .third-page .project:nth-child(4) {
        grid-column: span 6;
    }
    
    .third-page .project:nth-child(5) {
        grid-column: span 6;
    }
    
    .third-page .project:nth-child(6) {
        grid-column: span 12;
    }

    .video-container {
        height: 337.5px;
        width: 620px;
    }
}


@media screen and (max-width: 620px){
    main,
    .second-page,
    .third-page {
        max-width: 500px;
    }

    main{
        padding-top: 160px;
    }

    .main-right{
        place-items: center;
    }

    nav{
        position: absolute;
        flex-direction: column;
    }

    .container .text{
        font-size: 2em;
    }

    .container {
        width: 300px;
        margin: auto;
        overflow: hidden;
    }

    .second-page .second-left {
        grid-column: 1/13;
    }
    .second-page .about-me{
        grid-column: 1/13;
    }
    .third-page .project:nth-child(2) {
        grid-column: span 12;
    }
    
    .third-page .project:nth-child(3) {
        grid-column: span 12;
    }
    
    .third-page .project:nth-child(4) {
        grid-column: span 12;
    }
    
    .third-page .project:nth-child(5) {
        grid-column: span 12;
    }
    
    .third-page .project:nth-child(6) {
        grid-column: span 12;
    }
    .video-container {
        height: 180px;
        width: 300px;
        align-self: center;
    }

    .footer .footer-element{
        max-width: 450px;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .footer .footer-element:nth-child(2) {
        place-self: center;
        grid-column: 1/7;
    }
    
    .footer .footer-element:nth-child(3) {
        grid-column: 7/13;
    }
    
    .footer .footer-element:nth-child(4) {
        grid-column: 4/10;
    }
}